.introBox {
	background-color:darkgrey;
	text-align:center;
}
h1 {color:white;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}
h2 {color:lightgray;
	font-family: 'Lato', sans-serif; 
	font-style: italic;
	text-align:center;
}
h3 {color:darkslategray;
	font-family: 'Lato', sans-serif; 
	font-style: italic;
}
p {color:black;
	font-family: 'Lato', sans-serif;
}
